{% extends "base.html" %}

{% block title %}
    Job Drescription
{% endblock title %}

{% block content %}
<div class="container bg-white pt-2 pb-2 mt-3 mb-3">
    <form id="jobD" method="post" action="">
        {% csrf_token %}
        <div class="m-3 p-2">
            <h3>Create Job Description</h3>
        </div>
        <div class="form-floating mb-3">
            {{ form.createdBy}}
            <label for="createdBy">Created By</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.title}}
            <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
            <!-- <select class="form-select" id="departament" aria-label="Departament/area select">
                <option selected>Select Departament/Area</option>
                {% for area in areas %}
                    <option value="{{area.id}}">{{ area.areaName }}</option>
                {% endfor %}
            </select> -->
            {{ form.departament}}
            <label for="departament">Departament/Area</label>
        </div>    
        <div class="form-floating mb-3">
            {{ form.jobDescription}}
            <label for="jobDescription">Job Description</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.annualSalary}}
            <label for="annualSalary">Annual Salary</label>
        </div>      
        <div id="btn_save" class="d-flex col-md-12 justify-content-center">
            <input type="submit" class="btn btn-md bg-gray w-25" value="Save">
        </div>
    </form>
</div>
{% endblock content %}