{% extends "base.html" %}

{% block title %}
    Recruitment Request
{% endblock title %}

{% block content %}
<div class="container bg-white pt-2 pb-2 mt-3 mb-3">
    <form id="recReq" method="post" action="">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.requester}}
            <label for="requester">Requester</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.departament_req}}
            <label for="departament_req">Departament/Area</label>
        </div>    
        <div class="form-floating mb-3">
            {{ form.numberOfVacancies}}
            <label for="numberOfVacancies">Number Of Vacancies</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.title_req}}
            <label for="title_req">Title</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.location}}
            <label for="location">Location</label>
        </div>      
        <div id="btn_save" class="d-flex col-md-12 justify-content-center">
            <input type="submit" class="btn btn-md w-25" value="Save">
        </div>
    </form>
</div>
{% endblock content %}